/* global styles */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: 'Courier New', Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

main {
  /* background-color: lightcoral; */
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: 200;

  margin-top: 5%;

  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}


/* navigation styles */
nav {
  /* background-color: lightblue; */
  position: relative;
  height: 10vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-icon,
nav h3,
.nav-links {
  margin-left: 1rem;
  font-size: 1.7rem;
  font-weight: 200;
}

.nav-btn {
  background-color: transparent;
  border: none;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
}

.nav-links {
  position: absolute;
  top: 4.4rem;
  left: 3rem;

  z-index: 100;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  /* font-weight: bold; */
  opacity: 0.3;
}

@media screen and (max-width: 900px) {
  .title {
    margin-top: 15%;
  }
}

.menu-btns button {
  background-color: white;
  border: none;
  font-size: 1.1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
  cursor: pointer;
  text-transform: capitalize;
}

.menu-btns button:hover {
  font-weight: bold;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  margin-bottom: 5%;
}

@media screen and (max-width: 1000px) {
  .menu-items {
    grid-template-columns: 1fr;
  }
}

article {
  width: 400px;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
}

.left h5 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 550;
}

.left p {
  font-size: 0.85rem;
}

.right p {
  font-size: 1.2rem;
}

/* img {
  max-width: 100%;
  max-height: 100%;
  filter: brightness(50%);
} */

.about-content {
  margin-top: 5rem;

  /* 0000000000000000000000000000000000000000000000000000000000 */
  width: 1000px;
  max-width: 500px;
}

.review-content {
  margin-top: 3rem;

  /* 0000000000000000000000000000000000000000000000000000000000 */
  width: 1000px;
  max-width: 500px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

  margin-top: 3rem;
  margin-bottom: 1rem;
}

.rating {
  margin-top: 1rem;
}

.star-icon {
  color: darkgoldenrod;
  width: 25px;
  height: 25px;
}

.arrow-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.bg {
  background-repeat:"no-repeat";
  background-size:"cover";
  height:"100vh";
  width:"auto";
}

